data/uploads/*
Config.json
Config/*
Config/
.vscode/sftp.json
.vscode
__pycache__/Image_Uploader.cpython-37.pyc
__pycache__/DiscordObjects.cpython-37.pyc
__pycache__/APIkeyManagement.cpython-37.pyc
ImageUploader/ImageUploader.pyproj
.vs/ImageUploader/config/applicationhost.config
.vs/ImageUploader/v16/.suo
.vscode/launch.json
