<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lewis' File Uploader</title>

    <meta authour="sniff122/Lewis">
    <meta description="A file uploader developed by sniff122/Lewis">
    <meta property="og:title" content="ImageUploader">
    <meta property="og:url" content="http://i.sniff122.ga">
    <meta property="og:locale" content="en_UK">
    <meta property="og:type" content="website">
    <meta property="twitter:title" content="ImageUploader">
    <meta property="twitter:creator" content="@sniff122">
    <meta property="twitter:description" content="A file uploader developed by sniff122/Lewis">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .alert {
            padding: 20px;
            background-color: white;
            color: black;
            height: 30px;
        }

        .maincontent {
            position: fixed;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            width: auto;
            height:fit-content;
            margin: auto;
        }
    </style>
</head>
<body style="background-color: black; color: white">
    
    <script>
        function requestUpload() {
            var msgbar = document.getElementById("messagebar");
            var alertdiv = document.createElement("div");
            alertdiv.classList.add("alert");
            alertdiv.classList.add("alert-info");
            var par = document.createElement("p");
            par.innerHTML = "<strong>Please Wait!</strong> Uploading your file"
            alertdiv.appendChild(par);
            msgbar.appendChild(alertdiv);

            var form = document.getElementById("upload-form");
            var apikey = document.getElementById("Authorization").value;
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var FileName = document.getElementById("FileName").value;
            const apiendpoint = "{{uploadapi}}"
            var xhr = new XMLHttpRequest();
            xhr.open("POST", apiendpoint);
            xhr.setRequestHeader("username", username);
            xhr.setRequestHeader("password", password);
            xhr.setRequestHeader("Auth", apikey);
            xhr.setRequestHeader('FileName', FileName)
            var data = new FormData(form);
            xhr.onload = function () {
                var resp = JSON.parse(this.responseText);
                if (resp["Status"] == 401) {
                    $(".alert").alert('close');
                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Unauthorized!</strong> You are not authorized to do that!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else if (resp["Status"] == 200) {
                    var uploadurl = resp["FileLink"]

                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-info");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Done!</strong> Redirecting you to the file link"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                    setTimeout(function () { document.location.replace(uploadurl); }, 2000);
                } else {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Warning!</strong> An error occured, got code " + resp["Status"] + " from server!   "
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                }
            }
            xhr.send(data);
        }

        function requestDelete() {
            var msgbar = document.getElementById("messagebar");
            var alertdiv = document.createElement("div");
            alertdiv.classList.add("alert");
            alertdiv.classList.add("alert-info");
            var par = document.createElement("p");
            par.innerHTML = "<strong>Please Wait!</strong> Deleting file"
            alertdiv.appendChild(par);
            msgbar.appendChild(alertdiv);

            var form = document.getElementById("delete-form");
            var apikey = document.getElementById("Authorizationdel").value;
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var FileName = document.getElementById("FileNamedel").value;
            const apiendpoint = "{{deleteapi}}"
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", apiendpoint);
            xhr.setRequestHeader("username", username);
            xhr.setRequestHeader("password", password);
            xhr.setRequestHeader("Auth", apikey);
            xhr.setRequestHeader('FileName', FileName)
            var data = new FormData(form);
            xhr.onload = function () {
                var resp = JSON.parse(this.responseText);
                if (resp["Status"] == 401) {
                    $(".alert").alert('close');
                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Unauthorized!</strong> You are not authorized to do that!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else if (resp["Status"] == 200) {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-info");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Done!</strong>"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Warning!</strong> An error occured, got code " + resp["Status"] + " from server!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                }
            }
            xhr.send(data);
        }

        function requestRename() {
            var msgbar = document.getElementById("messagebar");
            var alertdiv = document.createElement("div");
            alertdiv.classList.add("alert");
            alertdiv.classList.add("alert-info");
            var par = document.createElement("p");
            par.innerHTML = "<strong>Please Wait!</strong> Renaming file"
            alertdiv.appendChild(par);
            msgbar.appendChild(alertdiv);

            var form = document.getElementById("rename-form");
            var apikey = document.getElementById("Authorizationren").value;
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var oldFileName = document.getElementById("oldFileNameren").value;
            var newFileName = document.getElementById("newFileNameren").value;
            const apiendpoint = "{{renameapi}}"
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", apiendpoint);
            xhr.setRequestHeader("username", username);
            xhr.setRequestHeader("password", password);
            xhr.setRequestHeader("Auth", apikey);
            xhr.setRequestHeader('oldfilename', oldFileName);
            xhr.setRequestHeader('newfilename', newFileName);
            var data = new FormData(form);
            xhr.onload = function () {
                var resp = JSON.parse(this.responseText);
                if (resp["Status"] == 401) {
                    $(".alert").alert('close');
                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Unauthorized!</strong> You are not authorized to do that!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else if (resp["Status"] == 200) {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-info");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Done!</strong>"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Warning!</strong> An error occured, got code " + resp["Status"] + " from server!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                }
            }
            xhr.send(data);
        }

        function loadFiles() {
            var msgbar = document.getElementById("messagebar");
            var alertdiv = document.createElement("div");
            alertdiv.classList.add("alert");
            alertdiv.classList.add("alert-info");
            var par = document.createElement("p");
            par.innerHTML = "<strong>Please Wait!</strong> Loading files"
            alertdiv.appendChild(par);
            msgbar.appendChild(alertdiv);

            var form = document.getElementById("rename-form");
            var apikey = document.getElementById("Authorizationren").value;
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            const apiendpoint = "{{filelistapi}}"
            var xhr = new XMLHttpRequest();
            xhr.open("GET", apiendpoint);
            xhr.setRequestHeader("username", username);
            xhr.setRequestHeader("password", password);
            xhr.setRequestHeader("Auth", apikey);
            var data = new FormData(form);
            xhr.onload = function () {
                var resp = JSON.parse(this.responseText);
                if (resp["Status"] == 401) {
                    $(".alert").alert('close');
                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Unauthorized!</strong> You are not authorized to do that!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else if (resp["Status"] == 200) {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-info");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Done!</strong>"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);

                    var selectfiles = document.getElementById("files")

                    resp["files"].forEach(function (file) {
                        var selector = document.createElement("option");
                        selector.innerHTML = file;
                        selector.value = file;
                        selectfiles.appendChild(selector)
                    });
                } else {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Warning!</strong> An error occured, got code " + resp["Status"] + " from server!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                }
            }
            xhr.send(data);
        }

        function genAPIkey() {
            var msgbar = document.getElementById("messagebar");
            var alertdiv = document.createElement("div");
            alertdiv.classList.add("alert");
            alertdiv.classList.add("alert-info");
            var par = document.createElement("p");
            par.innerHTML = "<strong>Please Wait!</strong> Generating new API key"
            alertdiv.appendChild(par);
            msgbar.appendChild(alertdiv);

            var form = document.getElementById("apigen-form");
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var name = document.getElementById("apigenname").value;
            const apiendpoint = "{{apigenkey}}"
            var xhr = new XMLHttpRequest();
            xhr.open("GET", apiendpoint);
            xhr.setRequestHeader("username", username);
            xhr.setRequestHeader("password", password);
            xhr.setRequestHeader("name", name)
            var data = new FormData(form);
            xhr.onload = function () {
                var resp = JSON.parse(this.responseText);
                if (resp["Status"] == 401) {
                    $(".alert").alert('close');
                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Unauthorized!</strong> You are not authorized to do that!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else if (resp["Status"] == 200) {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-info");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Done!</strong> API Key: " + resp["newkey"]
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Warning!</strong> An error occured, got code " + resp["Status"] + " from server!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                }
            }
            xhr.send(data);
        }

        function revokeAPIkey() {
            var msgbar = document.getElementById("messagebar");
            var alertdiv = document.createElement("div");
            alertdiv.classList.add("alert");
            alertdiv.classList.add("alert-info");
            var par = document.createElement("p");
            par.innerHTML = "<strong>Please Wait!</strong> Revoking API key"
            alertdiv.appendChild(par);
            msgbar.appendChild(alertdiv);

            var form = document.getElementById("apirevoke-form");
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var key = document.getElementById("apirevokekey").value;
            const apiendpoint = "{{apirevokeapi}}"
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", apiendpoint);
            xhr.setRequestHeader("username", username);
            xhr.setRequestHeader("password", password);
            xhr.setRequestHeader("key", key)
            var data = new FormData(form);
            xhr.onload = function () {
                var resp = JSON.parse(this.responseText);
                if (resp["Status"] == 401) {
                    $(".alert").alert('close');
                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Unauthorized!</strong> You are not authorized to do that!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else if (resp["Status"] == 200) {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-info");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Done!</strong> API key revoked!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                } else {
                    $(".alert").alert('close');

                    var msgbar = document.getElementById("messagebar");
                    var alertdiv = document.createElement("div");
                    alertdiv.classList.add("alert");
                    alertdiv.classList.add("alert-danger");
                    var par = document.createElement("p");
                    par.innerHTML = "<strong>Warning!</strong> An error occured, got code " + resp["Status"] + " from server!"
                    alertdiv.appendChild(par);
                    msgbar.appendChild(alertdiv);
                }
            }
            xhr.send(data);
        }

        function fillInfo() {
            var filename = document.getElementById('files').value

            document.getElementById("FileNamedel").value = filename
            document.getElementById("oldFileNameren").value = filename
        }
    </script>
    
    <center>
        <div id="messagebar">

        </div>
        <div id="content" class="maincontent">
            <h1>Lewis' File Uploader - Admin</h1>
            <br />
            <label>Username:</label>
            <input type="text" name="username" id="username">
            <br />
            <label>Password:</label>
            <input type="password" name="password" id="password">
            <br />
            <a href="{{webroot}}/{{recentfile}}">Most Recent File ({{webroot}}/{{recentfile}})</a>
            <br /><br />
            <table>
                <tr>
                    <td>
                        <form enctype="multipart/form-data" action="" method="post" id="upload-form">
                            <label>Upload File</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorization" id="Authorization">
                            <br />
                            <tabel>File Name</tabel>
                            <input type="text" name="FileName" id="FileName">
                            <br />
                            <input type="file" id="file" name="file">
                        </form>
                        <button class="btn btn-outline-success" onclick="requestUpload()"><span>Upload</span></button>
                    </td>
                    <td>
                        <form enctype="application/json" action="" method="delete" id="delete-form">
                            <label>Delete File</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorizationdel" id="Authorizationdel">
                            <br />
                            <tabel>File Name</tabel>
                            <input type="text" name="FileNamedel" id="FileNamedel">
                        </form>
                        <button class="btn btn-outline-danger" onclick="requestDelete()"><span>Delete</span></button>
                    </td>
                    <td>
                        <form enctype="application/json" action="" method="put" id="rename-form">
                            <label>Rename File</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorizationren" id="Authorizationren">
                            <br />
                            <tabel>Current File Name</tabel>
                            <input type="text" name="oldFileNameren" id="oldFileNameren">
                            <br />
                            <tabel>New File Name</tabel>
                            <input type="text" name="newFileNameren" id="newFileNameren">
                        </form>
                        <button class="btn btn-outline-danger" onclick="requestRename()"><span>Rename</span></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form enctype="application/json" action="" method="gets" id="apigen-form">
                            <label>Generate API Key</label>
                            <br />
                            <tabel>Name</tabel>
                            <input type="text" name="apigenname" id="apigenname">
                        </form>
                        <button class="btn btn-outline-success" onclick="genAPIkey()"><span>Generate Key</span></button>
                    </td>
                    <td>
                        <form enctype="application/json" action="" method="post" id="apirevoke-form">
                            <label>Revoke API Key</label>
                            <br />
                            <tabel>API Key</tabel>
                            <input type="text" name="apiremokekey" id="apirevokekey">
                        </form>
                        <button onclick="revokeAPIkey()"><span>Revoke Key</span></button>
                    </td>
                </tr>
        </table>
        <button class="btn btn-success" onclick="loadFiles()"><span>Load Files</span></button>
        <label for="files">Files</label>
        <select id="files" onchange="fillInfo()">
            <option value=""></option>
        </select>
        </div>
    </center>
</body>
</html>
