<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lewis' File Uploader</title>

    <meta authour="sniff122/Lewis">
    <meta description="A file uploader developed by sniff122/Lewis">
    <meta property="og:title" content="ImageUploader">
    <meta property="og:url" content="http://i.sniff122.ga">
    <meta property="og:locale" content="en_UK">
    <meta property="og:type" content="website">
    <meta property="twitter:title" content="ImageUploader">
    <meta property="twitter:creator" content="@sniff122">
    <meta property="twitter:description" content="A file uploader developed by sniff122/Lewis">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        
        
        .maincontent {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100vh;
            max-height: 100vh;
            margin: auto;
            margin-top: 50px;
        }

        .messagebar {
            height: 40px;

        }
    </style>
</head>
<body style="background-color: black; color: white">
    
    <script>
        function fillfileInfo() {
            var filename = document.getElementById('files').value

            document.getElementById("FileNamedel").value = filename
            document.getElementById("oldFileNameren").value = filename
        }
        function filllinkInfo() {
            var linkid = document.getElementById('links').value

            document.getElementById("LinkDel").value = linkid
            document.getElementById("oldlink").value = linkid
        }
    </script>
    <script src="/js/admin_files.js"></script>
    <script src="/js/admin_links.js"></script>
    <script src="/js/admin_keys.js"></script>
    
    <center>
        <div id="messagebar" class="messagebar">

        </div>
        <div id="content" class="maincontent">
            <h1>Lewis' File Uploader - Admin</h1>
            <br />
            <label>Username:</label>
            <input type="text" name="username" id="username">
            <br />
            <label>Password:</label>
            <input type="password" name="password" id="password">
            <br />
            <a href="{{recentfile}}">Most Recent File ({{recentfile}})</a>
            <br /><br />
            <table>
                <tr>
                    <td>
                        <u><h1>Files</h1></u>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form enctype="multipart/form-data" action="" method="post" id="file-upload-form">
                            <label>Upload File</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorizationupload" id="Authorizationupload">
                            <br />
                            <tabel>File Name</tabel>
                            <input type="text" name="FileName" id="FileName">
                            <br />
                            <input type="file" id="file" name="file">
                        </form>
                        <button class="btn btn-outline-success" onclick="uploadFile()"><span>Upload</span></button>
                    </td>
                    <td>
                        <form enctype="application/json" action="" method="delete" id="file-delete-form">
                            <label>Delete File</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorizationfdel" id="Authorizationfdel">
                            <br />
                            <tabel>File Name</tabel>
                            <input type="text" name="FileNamedel" id="FileNamedel">
                        </form>
                        <button class="btn btn-outline-danger" onclick="deleteFile()"><span>Delete</span></button>
                    </td>
                    <td>
                        <form enctype="application/json" action="" method="put" id="file-rename-form">
                            <label>Rename File</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorizationfren" id="Authorizationfren">
                            <br />
                            <tabel>Current File Name</tabel>
                            <input type="text" name="oldFileNameren" id="oldFileNameren">
                            <br />
                            <tabel>New File Name</tabel>
                            <input type="text" name="newFileNameren" id="newFileNameren">
                        </form>
                        <button class="btn btn-outline-warning" onclick="renameFile()"><span>Rename</span></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <u><h1>Links</h1></u>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form enctype="multipart/form-data" action="" method="post" id="shorten-form">
                            <label>New Short Link</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorizationlnew" id="Authorizationlnew">
                            <br />
                            <label>Short Link ID</label>
                            <input type="text" name="linkname" id="linkname">
                            <br />
                            <label>Redirect URL</label>
                            <input type="text" id="linkurl" name="linkurl">
                        </form>
                        <button class="btn btn-outline-success" onclick="shortLink()"><span>Shorten</span></button>
                    </td>
                    <td>
                        <form enctype="application/json" action="" method="delete" id="link-delete-form">
                            <label>Delete Link</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorizationldel" id="Authorizationldel">
                            <br />
                            <tabel>Link ID</tabel>
                            <input type="text" name="LinkDel" id="LinkDel">
                        </form>
                        <button class="btn btn-outline-danger" onclick="deleteLink()"><span>Delete</span></button>
                    </td>
                    <td>
                        <form enctype="application/json" action="" method="put" id="rename-form">
                            <label>Rename Link</label>
                            <br />
                            <label>API Key:</label>
                            <input type="text" name="Authorizationlren" id="Authorizationlren">
                            <br />
                            <tabel>Current Link ID</tabel>
                            <input type="text" name="oldlink" id="oldlink">
                            <br />
                            <tabel>New Link ID</tabel>
                            <input type="text" name="newlink" id="newlink">
                        </form>
                        <button class="btn btn-outline-warning" onclick="renameLink()"><span>Rename</span></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <u><h1>API Keys</h1></u>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form enctype="application/json" action="" method="get" id="apigen-form">
                            <label>Generate API Key</label>
                            <br />
                            <tabel>Name</tabel>
                            <input type="text" name="apigenname" id="apigenname">
                        </form>
                        <button class="btn btn-outline-success" onclick="genAPIkey()"><span>Generate Key</span></button>
                    </td>
                    <td>
                        <form enctype="application/json" action="" method="post" id="apirevoke-form">
                            <label>Revoke API Key</label>
                            <br />
                            <tabel>API Key</tabel>
                            <input type="text" name="apiremokekey" id="apirevokekey">
                        </form>
                        <button class="btn btn-outline-danger" onclick="revokeAPIkey()"><span>Revoke Key</span></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-success" onclick="loadFiles()"><span>Load Files</span></button>
                        <label for="files">Files</label>
                        <select id="files" onchange="fillfileInfo()">
                            <option value=""></option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-success" onclick="loadLinks()"><span>Load Links</span></button>
                        <label for="links">Links</label>
                        <select id="links" onchange="filllinkInfo()">
                            <option value=""></option>
                        </select>
                    </td>
        </table>
        </div>
    </center>
</body>
</html>
